body {
	margin: 0;
	padding: 0;
  background-color: lightgray;
}

 .App {
  text-align: center;
  font-family: monospace;
}

.App-logo {
  height: 180px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Job-advert .centered-element{
  height: 60px;
  width: 350px;
  background: #FBFBFD

}

.Employee-advert .centered-element{
  height: 60px;
  width: 350px;
  background: #FBFBFD

}

.Browse-jobs-employee {
  justify-content: space-around;
}

.Side-bar {
  background: #F3F5FF;
  align-items: center;
  float:left; 
  width:20%; 
  height: viewHeight;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
